/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors Light Theme ==========*/
  --first-color: #9288C1;
  --first-color-alt: #302F4E;
  --first-color-second: #C9C2E0;
  --first-color-lighter: #F5EFF6;
  --text-color: #302F4E;
  --text-color-light: #9187C0;
  --title-color:  #302F4E;
  --container-color: #fff;
  --stroke-color: #C9C2E0;
  --line-color: #c4c4c4;
  --scroll-bar-color: #9288C1;
  --scroll-thumb-color: #F5EFF6;


  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Border Radius ==========*/
  --boder-radius-small: 10px;
  --boder-radius-medium: 20px;
  --boder-radius-big: 50px;


  /*========== Border Width ==========*/
  --boder-radius-default: 1px;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.1s;
}
.monaco-editor {
  .monaco-editor-hover.monaco-editor-background {
    transition: none;
  }
  .monaco-editor-hover.monaco-editor-background * {
    transition: none;
  }
}

html {
  scroll-behavior: smooth;
}

#main {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--first-color);
  font-weight: var(--font-medium);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--first-color);
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*========== Variables Dark theme ==========*/
#main.dark-theme {
  --first-color: #9288C1;
  --first-color-alt: #fff;
  --first-color-second: #C9C2E0;
  --first-color-lighter: #F5EFF6;
  --text-color: #fff;
  --text-color-light: #fff;
  --title-color:  #fff;
  --container-color: #302F4E;
  --line-color: #c4c4c4;
  --stroke-color: #C9C2E0;
  --scroll-bar-color: #9288C1;
  --scroll-thumb-color: #302F4E;
  --background-color: #4F3B78;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 14px;
  padding: 1px;
  background:  var(--scroll-bar-color);
  border: 1px solid var(--line-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color-alt);
}
